[run]
omit =
        *tests*
        *__init__*
source = 
        unify_idents
[report]
exclude_lines = 
        pragma: no cover
        if __name__ == .__main__.:
sort = Miss

[html]
directory = coverage_html_report
